<div class="latestNews_box"><!--start latestNews_box-->
  <div class="latest_bg">
    <div class="latest_top">
      <div class="latest_btm">
        <div class="content_latestNews_box">
            <%= link_to 'Admin Panel',edit_feed_path %>
        </div>
      </div>
    </div>
  </div>
</div>