<div class="latestNews_box"><!--start latestNews_box-->
  <div class="latest_bg">
    <div class="latest_top">
      <div class="latest_btm">
        <div class="content_latestNews_box" style="text-align:center;">

          <script type="text/javascript"><!--
          google_ad_client = "ca-pub-7840601014474638";
          /* feedladder right column */
          google_ad_slot = "1179836517";
          google_ad_width = 336;
          google_ad_height = 280;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>

        </div>
      </div>
    </div>
  </div>
</div>