<div class="latestNews_box"><!--start latestNews_box-->
  <div class="latest_bg">
    <div class="latest_top">
      <div class="latest_btm">
        <div class="content_latestNews_box" style="text-align:center;">
            <%= link_to image_tag( "twitter_banner.jpg", :width => "300" ), "http://twitter.com/#{@current_feed.user.login}",:target => '_blank' %>

        </div>
      </div>
    </div>
  </div>
</div>