<div class="footer">
	<div id="cont_footer"><!--start cont_footer-->
		<div class="cont_footer_top" style="height:50px"><!--start cont_footer_top-->
			<div class="footer_mainCont" style="padding-top:0px"><!--start footer_mainCont-->
				<div class="all_link_footer" style="display:none;"><!--start all_link_footer-->
					<ul class="all_link_footer01">
						<li class="Competitions"><a href="#" title="Competitions">Competitions</a></li>
						<li><a href="#" title="Current Competitions">Current Competitions</a></li>
						<li><a href="#" title="Competition Rules">Competition Rules</a></li>
					</ul>
					<ul class="all_link_footer02">
						<li class="Competitions"><a href="#" title="Music">Music</a></li>
						<li><a href="#" title="New Music">New Music</a></li>
						<li><a href="#" title="Charts">Charts</a></li>
						<li><a href="#" title="Music Queries">Music Queries</a></li>
					</ul>
					<ul class="all_link_footer03">
						<li class="Competitions"><a href="#" title="Gigs &amp; Events">Gigs &amp; Events</a></li>
						<li><a href="#" title="Latest Events">Latest Events</a></li>
						<li><a href="#" title="Gig Guide">Gig Guide</a></li>
						<li><a href="#" title="Submit A Gig">Submit A Gig</a></li>
					</ul>
					<ul class="all_link_footer04">
						<li class="Competitions"><a href="#" title="Blog">Blog</a></li>
						<li><a href="#" title="Latest Posts">Latest Posts</a></li>
					</ul>
					<ul class="all_link_footer05">
						<li class="Competitions"><a href="#" title="Sitemap">Sitemap</a></li>
						<li><a href="#" title="Help Getting Around">Help Getting Around</a></li>
					</ul>
				</div><!--end all_link_footer-->
				<div class="sub_menu_footer" style="display:none;">
					<ul>
						<li class="sub_menu_footerFst"><a href="#" title="Home">Home</a></li>
						<li><%= link_to "privacy policy",{:controller=>"home", :action=>"privacy_policy"} %></li>
						<li><%= link_to "about us", {:controller=>"home", :action=>"about_us"} %></li>
						<li><%= link_to "contact", {:controller=>"home", :action=>"contact_us"} %></li>
						<li><%= link_to "terms of service", {:controller=>"home", :action=>"terms_of_service"} %></li>
					</ul>
				</div>
			</div><!--end footer_mainCont-->
		</div>
		<!--end cont_footer_top-->
		<div id="foooter_low" style="display:none;">
			<div class="txt_ftr_low">© 2010-2011 Feedladder All rights reserved</div>
			<div class="foooter_low_rgt">
            	<ul>
				<li><a href="#" title="Digg" class="pic01">Digg</a></li>
				<li><a href="#" title="Delicious" class="pic02">Delicious</a></li>
				<li><a href="#" title="Facebook" class="pic03">Facebook</a></li>
				<li><a href="#" title="reddit" class="pic04">reddit</a></li>
                </ul>
			</div>
		</div>
	</div><!--end cont_footer-->
</div>